<footer class="wrapper">
    <div class="ui horizontal list">
        <div class="item"><a href="mailto:{{ site.email }}"><i class="envelope icon"></i></a></div>
        <div class="item"><a href="https://www.linkedin.com/in/lars-%C3%B8rnlo-1962a2a7/"><i class="linkedin icon"></i></a></div>
        <div class="item"><a href="https://github.com/{{ site.github_username }}" target="_blank"><i
                    class="github icon"></i></a></div>
        <div class="item"><a href="https://twitter.com/{{ site.twitter_username }}"><i class="twitter icon"></i></a>
        </div>
    </div>
</footer>